PATH_add "$(pwd)/apps/devhost/bin"

export DEVHOST_STORYBOOK="devhost.localhost"
export DEVHOST_PLAYGROUND="playground.localhost"
export DEVHOST_RECOVERY="recovery.localhost"

source_env_if_exists "./.envrc.local"
